//* IMPORTS

@use '../../global/vars';
@use '../../global/mixins';
@use '../../global/extends';

.endGameOverlay {
  @extend %overlay;
}

.endGameContainer {
  @include mixins.flex-box(
    $direction: column,
    $gap: vars.$gap-l,
    $wrap: nowrap
  );

  width: 70%;
  z-index: 55;

  background: radial-gradient(
    circle,
    rgba(23, 25, 97, 0.9) 40%,
    rgba(62, 15, 64, 0.8) 100%
  );
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: vars.$box-shadow-bossCard;

  .endGameWinnerFaction {
    width: 200px;
  }

  .endGameText {
    font-size: vars.$text-font-size-xxl;
  }

  .endGameWinnerImg {
    width: 600px;
    height: 300px;

    border-radius: 1rem;
    box-shadow: vars.$box-shadow-bossCard;
  }

  .buttonsDiv {
    @include mixins.flex-box($gap: vars.$gap-m);
    width: fit-content;

    // .closeGwentBtn {
    //   margin: 0;
    // }
  }
}
