//* IMPORTS

@use '../../global/vars';
@use '../../global/mixins';
@use '../../global/extends';

#gwent {
  @include mixins.flex-box($wrap: nowrap, $gap: 50px);
  display: none;

  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0 50px;
  background-color: vars.$transparent-color;

  .gwentTurnCounterDiv {
    @include mixins.flex-box($direction: column, $gap: 20px);

    width: 200px;

    .gwentLogo {
      width: 180px;
    }

    .turnCounter {
      @include mixins.flex-box($wrap: nowrap, $gap: 20px);

      margin-top: 30px;

      .turnCounterText {
        color: vars.$text-color;
        font-family: vars.$gwent-text-font;
        font-size: vars.$text-font-size-xxl * 1.5;
      }

      .turnCounterIcon {
        width: 80px;
        filter: vars.$hover-drop-shadow;
      }
    }

    .gwentLastCardPlayedText {
      margin-top: vars.$margin-s;
      color: vars.$text-color;
      font-family: vars.$gwent-text-font;
      font-size: vars.$text-font-size-xl;
      text-align: center;

      span {
        color: vars.$span-color;
        text-shadow: vars.$text-shadow-span;
      }
    }

    .gwentComputerPassesText {
      color: vars.$text-color;
      font-family: vars.$gwent-text-font;
      font-size: vars.$text-font-size-xl;
      text-align: center;

      span {
        color: vars.$span-color;
        text-shadow: vars.$text-shadow-span;
      }
    }
  }

  .gwentBoard {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: (170px 60px 450px 80px);
    height: 600px;
    width: 800px;
    background-image: url('/public/assets/gwent_board.webp');
    background-size: 100% 100%;
    background-position: center;
    gap: 0.25rem;
    padding: 1rem;
    margin-top: 40px;
    margin-left: 40px;
  }

  .cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;

    &.highlight-location {
      box-shadow: vars.$box-shadow-selectedCard !important;
      cursor: pointer;

      transition: box-shadow 0.3s ease;
    }
  }

  .cell.p1-melee.special-cards .gwentCard:not(:first-child) {
    margin-left: -30px !important;
  }
  .cell.pc-melee.special-cards .gwentCard:not(:first-child) {
    margin-left: -30px !important;
  }

  .playerCardsContainer {
    @include mixins.flex-box($jc: space-evenly, $gap: 5px);

    height: 90px;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: vars.$box-shadow-gwent;

    background-image: url(/public/assets/player-cards-deck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -800px;
  }
}
