//* IMPORTS

@use './styles/global/vars';
@use './styles/global/mixins';
@use './styles/global/extends';
@use './styles/layouts/header';
@use './styles/components/burgerMenu';
@use './styles/layouts/footer';
@use './styles/layouts/main/hero';
@use './styles/layouts/main/ticTacToe';
@use './styles/components/ticTacToe-style-components/drawX-player';
@use './styles/components/ticTacToe-style-components/drawO-computer';
@use './styles/components/ticTacToe-style-components/reset-button';
@use './styles/components/ticTacToe-style-components/highlight-for-winner';
@use './styles/layouts/main/gwent';
@use './styles/components/gwent-style-components/render-card';
@use './styles/components/gwent-style-components/render-start-screen';
@use './styles/components/gwent-style-components/preview-cards';
@use './styles/components/gwent-style-components/render-mulligan';
@use './styles/components/gwent-style-components/end-game-message';

//* GENERAL

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

main {
  @extend %bgImg;
  height: 100vh;

  overflow: hidden;

  .visualized {
    display: flex !important;
  }
}
